extends ./createLayout.jade

block title
	title Edit #{contest.title}

block content
	div.mainBody
		a.backLink(href="/create") <- Back To My Contests
		hr
		table.editContest
			tr
				td
					h1 Edit #{title}
				td
					img(src="/banners/#{banner}")
		table.editContest
			tr
				td
					p Judging: #{judging}
				td
					p Competition: #{competition}
			tr
				td
					p Judges: (no of judges)
				td
					p Competition: (no of judges)

		ul#errorList
			for error, i in errors
				li.error #{error}

		p#rules Rules: #{rules}

		form(action="/create/edit", method="post")

			div.formRow
				div.helpBox
				div.formLabel
					label Tags:
				div.formInput
					input(type="text" name="tags" id="tags" value="#{tags}")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Deadline:
				div.formInput
					label Month
					select(name="month")
						for i in months
							if (i.selected)
								option(value="#{i.num}" selected) #{i.name}	
							else
								option(value="#{i.num}") #{i.name}	
					label Day
					select(name="day")
						for i in days
							if (i == day)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
					label Hour
					select(name="hour")
						for i in hours
							if (i == hour)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
					label Minute
					select(name="minute")
						for i in minutes
							- console.log(i);
							if (i == minute)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Message Participants:
				div.formInput
					input(type="textarea" name="message" id="message")

			input(type="hidden" name="contestId" value="#{contestId}")
			
			div.clear

			div.formRow
				div.submitBlock
					input(type="submit" value="Save changes")