extends ./createLayout.jade

block title
	title Edit #{contest.title}

block content
	div.mainBody
		a.backLink(href="/create") <- Back To My Contests
		hr
		h1 #{contest.title}
		ul#errorList
			for error, i in errors
				li.error #{error}
		form(action="/create/new", method="post", enctype="multipart/form-data")
			div.formRow
				div.helpBox
				div.formLabel
					label Title:
				div.formInput
					input(type="text" name="title" id="title" value="#{contest.title}")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Tags:
				div.formInput
					input(type="text" name="tags" id="tags")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Banner:
				div.formInput
					input(type="file" name="chooseFile" value="Choose An Image")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Rules:
				div.formInput
					input(type="textarea" name="rules" id="rules")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Deadline:
				div.formInput
					label Month
					select(name="months")
						for i in months
							if (i.selected)
								option(value="#{i.num}" selected) #{i.name}	
							else
								option(value="#{i.num}") #{i.name}	
					label Day
					select(name="day")
						for i in days
							if (i == day)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
					label Hour
					select(name="hour")
						for i in hours
							if (i == hour)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
					label Minute
					select(name="minute")
						for i in minutes
							- console.log(i);
							if (i == minute)
								option(value="#{i}" selected) #{i}
							else
								option(value="#{i}") #{i}
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Judging:
				div.formInput
					input(type="radio" name="judging" value="public" checked="true")
					label Public
					br
					input(type="radio" name="judging" value="invite")
					label Invite-Only
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Competition:
				div.formInput
					input(type="radio" name="competition" value="public" checked="true")
					label Public
					br
					input(type="radio" name="competition" value="invite")
					label Invite-Only
				div.clear
			
			div.clear

			div.formRow
				div.submitBlock
					input(type="submit" value="Create New Contest")