extends ./judgeLayout.jade

block title
	title Contests I'm Judging

block content
	div.mainBody
		h1 Contests I'm Judging
		table#contests
			each contest, i in contests
				tr(class=(i % 2 == 0) ? 'odd' : 'even')
					td.thumbnail
						img.thumbnail(src="/banners/#{contest.banner}")
					td.title
						a(href="/judge/contest/#{contest.id}")
							p #{contest.title}
					td.entries
						p #{contest.entries} entries
					td.judges
						p #{contest.judges} judges
					td.deadline
						p #{contest.deadline}